<html ng-app='myApp'>
<meta charset="UTF-8">
 <head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="C:\Angular\Js\cartCont.js"></script>
 </head>
  <body ng-controller='cartController'>
   	<h1> Shopping Cart </h1>
    <div ng-repeat="item in items">
      <span>{{item.title}}</span>
      <input ng-model='item.quantity'>
      <span>{{item.price | currency}}</span> &nbsp
      <span>{{item.price * item.quantity | currency}}</span> &nbsp
      <button ng-click="remove($index)">Remove</button>
    </div>
  </body>
</html>
